<div class="row justify-content-between">
    <div class="col">
        <h1 class="btn-toolbar">
            @ViewData["Title"]        
        </h1>
    </div>
    <div class="col-auto">
        <h3 class="btn-toolbar">
            <a href="@Url.Action("Index", "Home")">
                <span class="fas fa-step-backward align-text-bottom"></span>
            </a>
            <a href="@Url.Action("Add")">
                <span class="fas fa-plus align-text-bottom"></span>
            </a>            
        </h3>
    </div>
</div>