@model AccountTrackerV2.ViewModels.TransactionViewModel

@{
    ViewData["Title"] = "Edit Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Transaction" asp-action="Edit" asp-antiforgery="true" method="post" role="form">

    @Html.HiddenFor(m => m.TransactionOfInterest.TransactionID)

    <div asp-validation-summary="All" class="text-danger"></div>

    <partial name="_TransactionForm.cshtml" />

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <div class="col-md-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}