@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is a simple ASP.Net Core web application making use of Entity Framework and Entity Framework Identity. 
    I'm building and updating the application as a personal exercise. As such, it should not be utilized by anyone 
    for the storage of sensitive and required data. WARNING! Data will not be persisted into perpetuity
    and no guarantees of security are made. This site is not SSL/TSL protected.</p>
