@{
    ViewData["Title"] = "Add Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Category" asp-action="Add" asp-antiforgery="true" method="post" role="form">

    <div asp-validation-summary="All" class="text-danger"></div>

    <partial name="_CategoryForm.cshtml" />
    <hr/>
    <div class="form-group">
        <div class="col-md-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </div>    
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}