@model AccountTrackerV2.ViewModels.EntityViewModel

@{
    ViewData["Title"] = "Edit Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Category" asp-action="Edit" asp-antiforgery="true" method="post" role="form">
    
    <!--TODO: Research better way to pass transaction ID back to controller.-->
    @Html.HiddenFor(m => m.EntityOfInterest.EntityID)

    <div asp-validation-summary="All" class="text-danger"></div>

    <partial name="_CategoryForm.cshtml" />

    <div class="row">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-2 col-md-10">
                    <input type="submit" value="Update" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
